// Background Palette
$background-header: linear-gradient(180deg, #0B1953 20%, #010230 100%);
$background-btn-blue: linear-gradient(90deg, #1EAAD3 50%, #345591 100%);
$background-btn-orange: linear-gradient(90deg, #C13D7C 40%, #F7707A 100%);
$background-pricing-section: linear-gradient(180deg,#09144B 60%, #FDFDFD 60%);
$background-card-orange: linear-gradient(180deg, #BB2A6E 40%, #EE5A6D 100%);
$background-card-blog: linear-gradient(to right bottom, #030331, #03123f, #091c4e, #11265e, #17306e);
$background-white: #FFFFFF;
$background-light-grey: #FBFBFB;

// Text Palette
$text-white: #FFFFFF;
$text-black: #000;
$text-orange: #F9636B;
$text-blue: #527CEB;
$text-grey: #9c9c9c;

// Colors border
$border-card-testimonial: #B63377;