// Background Palette
$background-header: linear-gradient(180deg, #0B1953 20%, #010230 100%);
$background-btn-blue: linear-gradient(90deg, #1EAAD3 50%, #345591 100%);
$background-btn-orange: linear-gradient(90deg, #C13D7C 40%, #F7707A 100%);
$background-white: #FFFFFF;
$background-light-grey: #FBFBFB;

// Text Palette
$text-white: #FFFFFF;
$text-orange: #F9636B;
$text-blue: #527CEB;