// Import Variables
@use "./partials/variables" as *;
//Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


// COMMON
body{
    scroll-behavior: smooth;
}

html{
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    background: $background-header;
    color: $text-white;
}
